.categoryContainer {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  padding-bottom: 10px;
  width: 100%;
  justify-content: flex-start;
  /* Oculta la barra de scroll en navegadores WebKit */
}

@media (min-width: 768px) {
  .categoryContainer {
    justify-content: center;
  }
}

.categoryContainer::-webkit-scrollbar {
  display: none;
}

.categoryItem {
  background-color: rgba(30, 41, 59, 0.5);
  /* slate-800/50 */
  backdrop-filter: blur(4px);
  border-radius: 0.75rem;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  margin: 0.75rem 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  border: 1px solid rgba(255, 255, 255, 0.1);
  flex-shrink: 0;
}

.categoryItem:hover {
  border-color: #f97316;
  /* orange-500 */
  box-shadow: 0 0 15px rgba(249, 115, 22, 0.2);
}

.active {
  background-color: #f97316;
  /* orange-500 */
  border-color: #f97316;
  box-shadow: 0 0 15px rgba(249, 115, 22, 0.4);
}