.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    position: relative;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.form h3 {
    margin-top: 0;
}

.form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cartItems {
    margin-top: 1rem;
    max-height: 200px;
    overflow-y: auto;
}

.productItem {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.productImage {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 15px;
}

.productDetails {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}

.total {
    margin-top: 1rem;
    font-weight: bold;
    text-align: right;
}

.whatsappButton {
    background-color: #25D366;
    color: white;
    border: none;
    padding: 1rem;
    width: 100%;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

.deleteButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}