.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.stickyWrapper {
  position: sticky;
  top: 168px;
  /* Altura del header */
  background-color: rgba(30, 41, 59, 0.9);
  /* slate-800 with opacity */
  backdrop-filter: blur(8px);
  z-index: 99;
  /* Bajamos z-index para que pase por DEBAJO del header principal si fuera necesario, aunque al no ser sticky scrolleará */
  padding: 1rem 0;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.container h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #f1f5f9;
  /* slate-100 */
}

.productosContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.stickyBar {
  position: sticky;
  z-index: 40;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  /* Ajuste para móvil (Header más alto por flex-col) */
  top: 205px;
}

@media (min-width: 768px) {
  .stickyBar {
    /* Ajuste para escritorio */
    top: 145px;
  }
}

@media (max-width: 900px) {
  .stickyWrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}